@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "~bootstrap";

html, body {
    height: 100%;
}

/* NavBar custom items */
.navbarDark {
    background-color: #000000;
    flex: 1;
}

.linkNav {
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", serif;
    color: #ffffff;
}

.socialNav {
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
    color: #ffffff;
}

.linkNav:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: #bf0101;
}

.socialNav:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: #bf0101;
}

.underline {
    border-bottom: 5px solid #bf0101;
}

/* Common styles */
.flexContainer {
    display: flex;
    height: 100vh;
}

.bg {
    background-color: #000000;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://i.ibb.co/yNvpjBD/DSC0433.jpg');
}

.bgClean {
    flex: 1;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.simple-title {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 30px 0 40px;
    padding: 0 0 11px;
    position: relative;
    color: #ffffff;
}

.simple-text {
    color: #9e9b9b;
    font-size: 15px;
    line-height: 22px;
    margin: 0 5% 5%;
    text-align: justify-all;
}

.simpleBtn {
    border-radius: 20px;
    font-size: 13px;
    line-height: 22px;
    padding: 12px 20px;
    margin: 0 2px;
}

.socialBtn {
    border-radius: 30px;
    padding: 10px 15px;
    border-width: 0;
    margin: 0 4px;
}

/* Home styles */
.welcome {
    margin: 1% 0;
    padding: 5% 3%;
    background-color: #111111;
    border-radius: 10px;
}

.profil-img {
    height: 30%;
    width: 30%;
}

.btnContainer {
    margin: 10% 0 0;
}

/* Portfolio styles */
.portfolio {
    padding: 0 10px 35px;
    color: #525050;
}

.portfolio-title {
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 32px;
}

.filterBarElem {
    margin: 10px 1%;
}

.dropdownContainer {
    margin-right: 5%;
}

.galleryContainer {
    border: none;
}

@media (min-width:356px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width:576px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width:768px) {
    .card-columns {
        column-count: 3;
    }
}
@media (min-width:992px) {
    .card-columns {
        column-count: 4;
    }
}
@media (min-height:1200px) {
    .card-columns {
        column-count: 5;
    }
}

/* Contact styles */
.contact {
    padding: 0 10px 35px;
    color: #525050;
}

.contactBtn {
    border-radius: 20px;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 30px;
    border-width: 0;
}

/* Bio styles */
.bio {
    margin: 5% 5% 5% 5%;
}

.bio-title {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 8%;
    color: #3e3e3e;
    text-align: left;
}

.bio-subtitle {
    color: #878787;
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 11%;
    text-align: left;
}

.bio-text {
    color: #9e9b9b;
    font-size: 15px;
    line-height: 22px;
    margin: 35px 0 0;
    text-align: left;
}

.bio-img {
    margin: 10px 0 0 0;
    width: 100%;
}